:root {
    --accent-color: #2196F3;
    --basic-color: #212121;
    --text-color: #757575;
    --contacts-footer-color: rgba(255, 255, 255, 0.6);
    --primary-color-white: #FFFFFF;
    --bcg-color: #F5F4FA;
    --footer-copiright: rgba(255, 255, 255, 0.4);
}

body {
    background-color: var(--primary-color-white);
    color: var(--basic-color);

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.03em;
}

ul{
    list-style-type: none;
}

nav li,
.header-contact{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

a {
    color: var(--basic-color);
    text-decoration: none;
}

a:hover {
    color: var(--accent-color);
}

a:focus {
    color: var(--accent-color);
}

p{
    color: var(--text-color);
}

.header-contact{
    color: var(--text-color);
}

h1{
    color: var(--primary-color-white);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

h2{
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

h3{
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

}

.advantages{
    font-size: 14px;
    line-height: 1.71;
}

.name{
    font-weight: 500;
}

.name-description{
    font-size: 16px;
    line-height: 1.19;
}

.footer-color{
    color: var(--contacts-footer-color);
}

.copyrite{
    color: var(--footer-copiright);

    font-size: 12px;
    line-height: 2;
    text-align: center;
}

.footer-address{
    color: var(--primary-color-white);
}

.footer-contact{
    font-size: 14px;
    line-height: 1.71;
}

b{
    color: var(--primary-color-white);
}

.button{
    color: var(--primary-color-white);
    background-color: var(--accent-color);

    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
}

.button:hover{
    color: var(--primary-color-white);
}

.button:focus{
    color: var(--primary-color-white);
}